



<!-- views/partials/head.ejs -->

<meta charset="UTF-8">


<form method="POST" action="registration">
	<input type="text" name="firstName" id="firstName" placeholder="First Name">
	<input type="text" name="lastName" id="lastName" placeholder="Last Name">
	<input type="submit" name="submit" id="submit" value="Submit">
</form>